<!--
<mat-toolbar color="primary">
  <span>Your Agenda</span>
  <span class="spacer"></span>
  <span class="menu">
    <span class="menu-item">Calendar</span>
    <span class="menu-item">To Dos</span>
    <span class="menu-item">Mails</span>
  </span>
</mat-toolbar>
-->
<app-navigation></app-navigation>
<div class="header">
  <h1 class="greeting-text">WELCOME</h1>
  <!--<mat-card class="weather-container">Munich 11°C</mat-card>-->
  <app-weather></app-weather>
</div>
<div class="background">
</div>
<app-agenda></app-agenda>

<!--
<mat-grid-list cols="4" class="mails">
  <mat-grid-tile  id="mail-content" colspan="1"></mat-grid-tile>
  <mat-grid-tile  id="mail-overview" colspan="3">Your Mails</mat-grid-tile>
</mat-grid-list>
-->
