*{
  font-family: Roboto;
}

.mat-toolbar{
  text-align: center;
  background: #2196F3;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
}

.menu-item{
  padding-right: 10px;
}

.menu-item:hover{
  cursor: pointer;
  color: #85B4EC;
}



.greeting-text{
  font-family: 'Cutive Mono', monospace;
  font-size: 140px;
}


.background{
  background-image: url("../assets/images/mountains.jpg");
  background-size: cover;
  height: 250px;
  background-attachment: fixed;
  background-repeat: no-repeat;


}

h1{
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  color: white;
  font-size: 100px;
  margin: 0;
  padding-top: 100px;
}

.header{
  background-color: #2196F3;
  min-height: 680px;
  background-attachment: fixed;
}



.mail{
  background-color: #00BCD4;
  min-height: 500px;
}

.spacer{
  flex: 1 1 auto;
}
