<mat-toolbar color="primary">
  <span>Your Agenda</span>
  <span class="spacer"></span>
  <span class="menu">
    <span class="menu-item">Calendar</span>
    <span class="menu-item">To Dos</span>
    <span class="menu-item">Mails</span>
  </span>
</mat-toolbar>
<div class="header">
  <h1 class="greeting-text">WELCOME</h1>
  <!--<mat-card class="weather-container">Munich 11°C</mat-card>-->
  <app-weather></app-weather>
</div>
<div class="background">
</div>
<div class="agenda">
  <mat-grid-list cols="4">
    <mat-grid-tile colspan="3">Your Time Table</mat-grid-tile>
    <mat-grid-tile  colspan="1">To Dos
      <button mat-fab>Add
     </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
