mat-grid-tile {
  background-color: #F5F5F6;
  color: white;
  font-size: 50px;
  min-height: 80%;
}

.to-do-header{
  font-size: 24px;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  padding: 20px;
  color: #2196F3;
  text-transform: uppercase;
}

.mat-form-field{
  position: absolute;
  bottom: 20%;
  font-size: 15px;
  width: 60%;
  color: grey;
}

.add-button{
  position: absolute;
  bottom: 20%;
  right: 5%;
  background-color: #85B4EC;
}

.to-do-list{
  position: absolute;
  top: 10%;
  left: 5%;
  color: grey;
  font-size: 20px;
}

li{
  list-style: none;
  padding-bottom: 5px;
}

.delete-all{
  position: absolute;
  bottom: 10%;
  right: 5%;
  color: grey;
  font-size: 15px;
}

.delete-button{
  background-color: #85B4EC;
}


.done-true {
  text-decoration: line-through;
  color: #ddd;
}
