<div id="weather-container">
  <div id="flipper">
    <div class="widget-content front" (click) = "toggleWeatherWidget()">
      <h2 class="city-name">{{this.weather.name}}</h2>
      <h3 class="weather-description">{{this.weather.main.temp + "°C " + this.weather.weather[0].description}}</h3>
      <h4 class="flip-description">Click anywhere on the widget to change the city</h4>
    </div>
    <div class="widget-content back">
      <mat-form-field>
        <input #input matInput type="text" placeholder="search for city" (keyup.enter) = "onEnter(input.value)">
      </mat-form-field>
      <h3 class="input-description">Press Enter submit...</h3>
      <h4 class="input-description">...or Esc to cancel</h4>

    </div>
</div>
</div>
