#weather-container{
  width: 50%;
  left: 25%;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  perspective: 1000px;
}

.widget-content{
  height: 200px;
}

.front{
  border-style: solid;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.front:hover{
  cursor: pointer;
  border-color: #85B4EC;
}

.back{
  /*background-color: #BBDEFB;*/
  /*background-color: #0086c3;*/
  background-color: #85B4EC;
  transform: rotateY( 180deg );
  backface-visibility: hidden;

}

#flipper{
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flipped {
  transform: rotateY(180deg);
}
